<h3>Este é um teste de formulário usando NodeJS!</h3>
<p>Adiciona valores em um banco de dados:</p>

<div class="ml-4 mr-5 card" style="width: 20rem;">
    
    <div class="form-control container">
        <form action="/forms/new" method="post">
            <label for="string">String:</label>
            <input type="text" name="string" id="string" placeholder="Insert text here" class="form-control">
            <div class="text-center">
                <button type="submit" class="btn btn-secondary mt-3 mb-3">Adiciona valor</button>
            </div>
        </form>
    </div>

</div>
